<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <p class="center-text">About Me</p>
 <span class="text">ชื่อ-นามสกุล:</span>  <span class="textrong">ประกาศิต ทองกูล</span>
 <p><span class="text">อายุ:</span>  <span class="textrong">16ปี 11เดือน</span></p>
 <p><span class="text">กิจกรรมยามว่าง:</span>  <span class="textrong">เล่นเกม,เล่นกีตาร์</span></p>
</ion-content>
