<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
       My Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <p class="center-text">Contact</p>
 <span class="text">Ig:</span>  <span class="textrong">wan_prrkasitt</span>
 <p><span class="text">facebook:</span>  <span class="textrong">prakasit tongkul</span></p>
 <p><span class="text">tel:</span>  <span class="textrong">092-351-4780</span></p>
 <p><span class="text">email:</span>  <span class="textrong">prakasitthxngkul85&#64;gmail.com</span></p>
</ion-content>