
.center-text {
    height: 10px; /* กำหนดความสูงให้กับคอนเทนเนอร์ */
    line-height: 10px; /* ตั้งค่า line-height เท่ากับความสูง */
  
    padding-left: 20px;
    color: green;
    font-size: 35px;
    
  }

  .text{
    padding-left: 20px;
  font-size: 23px;
  color: brown;
}

.textrong{
    font-size: 20px;
}